@font-face {
  font-family: PlexSans;
  src: url("assets/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: PlexSans;
  src: url("assets/IBMPlexSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Poppins;
  src: url("assets/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("assets/Poppins-Bold.ttf");
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: rgb(240, 240, 240);
  color: rgb(36, 36, 36);
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  grid-template-areas: "side lyrics";
  grid-template-columns: 300px auto;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.2em;
  margin: 0;
}

pre {
  line-height: 0.7em;
  margin: 0;
}
